body{
    background: url('../img/background/serika_tokyo60_2.png');
    background-size:cover;
}
.col-md-12 .col-sm-6 .button-submit-logup{
    border:none;
    padding:10px;
    background:white;
    color:black;
    box-shadow: 3px 5px 10px gray;
}
.col-md-12 .col-sm-6 .button-submit-logup:hover{
    background:var(--blue);
    color:#fff;
}